In [5]:
import pandas as pd
pd.read_csv('./examples/ex1.csv')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
pd.read_table('examples/ex1.csv', sep=',')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [9]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names=names,
index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [11]:
parsed = pd.read_csv('examples/csv_mindex.csv',
                   index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [12]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [13]:
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
result = pd.read_csv('examples/ex5.csv')

In [15]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [21]:
sentinels = {'message': ['foo', 'B'], 'something': ['two']}
# 意思是讲相关的东西变成NAN
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [22]:
pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [23]:
pd.read_csv('ch06/ex6.csv', chunksize=1000)

FileNotFoundError: [Errno 2] File b'ch06/ex6.csv' does not exist: b'ch06/ex6.csv'

In [24]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

In [25]:
chunker

In [30]:
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    print(type(piece))
tot = tot.sort_values(ascending=False)

In [31]:
tot[:10]

Series([], dtype: float64)

In [32]:
In [40]: tot[:10]

Series([], dtype: float64)

In [35]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    print(tot)
tot = tot.sort_values(ascending=False)

S    48.0
O    44.0
F    40.0
H    39.0
J    39.0
Q    39.0
R    38.0
G    38.0
I    37.0
X    37.0
V    35.0
U    33.0
E    32.0
D    32.0
K    31.0
W    31.0
L    31.0
A    30.0
M    29.0
Y    28.0
C    27.0
T    27.0
N    27.0
Z    26.0
P    25.0
B    25.0
7    17.0
6    17.0
4    17.0
3    15.0
1    13.0
8    13.0
2    11.0
9    11.0
5     9.0
0     9.0
dtype: float64
0    28.0
1    29.0
2    25.0
3    31.0
4    35.0
5    29.0
6    31.0
7    29.0
8    32.0
9    30.0
A    61.0
B    49.0
C    50.0
D    66.0
E    64.0
F    77.0
G    64.0
H    70.0
I    76.0
J    70.0
K    64.0
L    75.0
M    57.0
N    57.0
O    92.0
P    51.0
Q    74.0
R    76.0
S    75.0
T    58.0
U    63.0
V    68.0
W    56.0
X    77.0
Y    55.0
Z    56.0
dtype: float64
0     47.0
1     40.0
2     39.0
3     46.0
4     49.0
5     43.0
6     51.0
7     47.0
8     46.0
9     49.0
A    101.0
B     81.0
C     77.0
D     94.0
E    103.0
F    109.0
G    100.0
H    107.0
I    101.0
J     99.0
K     98.0
L    109.0
M     95.0
N     88.0
O    132.0
P     81.0
Q    102.0
R    104.0
S    105.0
T     94.0
U     96.0
V     99.0
W     85.0
X    116.0
Y     82.0
Z     85.0
dtype: float64
0     62.0
1     56.0
2     55.0
3     63.0
4     61.0
5     64.0
6     69.0
7     59.0
8     59.0
9     64.0
A    132.0
B    116.0
C    114.0
D    132.0
E    140.0
F    144.0
G    127.0
H    137.0
I    129.0
J    140.0
K    130.0
L    142.0
M    125.0
N    124.0
O    161.0
P    116.0
Q    140.0
R    135.0
S    137.0
T    117.0
U    122.0
V    137.0
W    113.0
X    159.0
Y    110.0
Z    109.0
dtype: float64
0     80.0
1     64.0
2     75.0
3     81.0
4     79.0
5     81.0
6     86.0
7     72.0
8     75.0
9     72.0
A    163.0
B    143.0
C    140.0
D    166.0
E    194.0
F    175.0
G    157.0
H    176.0
I    160.0
J    165.0
K    168.0
L    182.0
M    161.0
N    157.0
O    187.0
P    154.0
Q    182.0
R    153.0
S    161.0
T    148.0
U    155.0
V    163.0
W    146.0
X    194.0
Y    145.0
Z    140.0
dtype: float64
0     88.0
1     89.0
2     87.0
3     97.0
4     92.0
5    103.0
6    103.0
7     92.0
8     92.0
9     92.0
A    188.0
B    173.0
C    165.0
D    197.0
E    229.0
F    216.0
G    185.0
H    204.0
I    192.0
J    199.0
K    209.0
L    217.0
M    194.0
N    189.0
O    213.0
P    186.0
Q    209.0
R    186.0
S    192.0
T    172.0
U    187.0
V    200.0
W    181.0
X    232.0
Y    187.0
Z    163.0
dtype: float64
0    106.0
1    105.0
2    104.0
3    108.0
4    110.0
5    118.0
6    111.0
7    114.0
8    117.0
9    112.0
A    211.0
B    203.0
C    206.0
D    228.0
E    259.0
F    247.0
G    216.0
H    238.0
I    228.0
J    232.0
K    231.0
L    258.0
M    223.0
N    221.0
O    250.0
P    216.0
Q    237.0
R    221.0
S    213.0
T    208.0
U    216.0
V    230.0
W    220.0
X    270.0
Y    211.0
Z    202.0
dtype: float64
0    120.0
1    117.0
2    120.0
3    121.0
4    129.0
5    131.0
6    132.0
7    128.0
8    135.0
9    117.0
A    249.0
B    237.0
C    232.0
D    267.0
E    298.0
F    273.0
G    253.0
H    272.0
I    261.0
J    274.0
K    258.0
L    292.0
M    263.0
N    250.0
O    282.0
P    251.0
Q    272.0
R    255.0
S    239.0
T    236.0
U    246.0
V    268.0
W    245.0
X    309.0
Y    244.0
Z    224.0
dtype: float64
0    134.0
1    134.0
2    137.0
3    136.0
4    150.0
5    142.0
6    144.0
7    150.0
8    147.0
9    135.0
A    288.0
B    269.0
C    258.0
D    295.0
E    333.0
F    302.0
G    277.0
H    297.0
I    294.0
J    308.0
K    292.0
L    316.0
M    297.0
N    277.0
O    324.0
P    286.0
Q    306.0
R    284.0
S    279.0
T    271.0
U    287.0
V    305.0
W    277.0
X    336.0
Y    276.0
Z    257.0
dtype: float64
0    151.0
1    146.0
2    152.0
3    162.0
4    171.0
5    157.0
6    166.0
7    164.0
8    162.0
9    150.0
A    320.0
B    302.0
C    286.0
D    320.0
E    368.0
F    335.0
G    308.0
H    330.0
I    327.0
J    337.0
K    334.0
L    346.0
M    338.0
N    306.0
O    343.0
P    324.0
Q    340.0
R    318.0
S    308.0
T    304.0
U    326.0
V    328.0
W    305.0
X    364.0
Y    314.0
Z    288.0
dtype: float64

In [34]:
In [40]: tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [39]:
import csv
with open('examples/ex7.csv') as f:
 lines = list(csv.reader(f))

In [40]:
header, values = lines[0], lines[1:]

In [41]:
header

['a', 'b', 'c']

In [42]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [43]:
lines[::]

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [44]:
lines[:::]

SyntaxError: invalid syntax (<ipython-input-44-7ea15af4d487>, line 1)

In [58]:
import json
obj = """{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"],
       "pet": "null","siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},{"name": "Katie", "age": 38,"pets": ["Sixes", "Stache", "Cisco"]}]}
       """

In [59]:
result = json.loads(obj)

In [60]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': 'null',
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [61]:
asjson = json.dumps(result)

In [62]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": "null", "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'