In [11]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2019, 7, 16, 22, 3, 29, 172766)

In [12]:
now.year, now.month, now.day

(2019, 7, 16)

In [4]:
datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

datetime.timedelta(days=926, seconds=56700)

In [10]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [13]:
delta.days

926

In [14]:
delta.seconds

56700

In [15]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [16]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [17]:
stamp = datetime(2011, 1, 3)

In [18]:
str(stamp)

'2011-01-03 00:00:00'

In [19]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [20]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
           datetime(2011, 1, 7), datetime(2011, 1, 8),
            datetime(2011, 1, 10), datetime(2011, 1, 12)]
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [23]:
import pandas as pd
import numpy as np
ts = pd.Series(np.random.randn(6), index=dates)

In [24]:
ts

2011-01-02    0.889959
2011-01-05    0.966939
2011-01-07   -0.138319
2011-01-08   -0.410849
2011-01-10    0.275450
2011-01-12    0.122967
dtype: float64

In [25]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [26]:
ts + ts[::2]

2011-01-02    1.779917
2011-01-05         NaN
2011-01-07   -0.276637
2011-01-08         NaN
2011-01-10    0.550901
2011-01-12         NaN
dtype: float64

In [27]:
ts.index.dtype

dtype('<M8[ns]')

In [28]:
stamp = ts.index[0]

In [29]:
stamp

Timestamp('2011-01-02 00:00:00')

In [30]:
stamp = ts.index[2]

In [31]:
ts[stamp]

-0.1383187396024594

In [32]:
ts['1/10/2011']

0.27545043194102353

In [33]:
ts['20110110']

0.27545043194102353

In [34]:
longer_ts = pd.Series(np.random.randn(1000),
                     index=pd.date_range('1/1/2000',
periods=1000))

In [35]:
longer_ts

2000-01-01    0.379497
2000-01-02    0.704070
2000-01-03   -1.005734
2000-01-04   -0.018062
2000-01-05   -0.522719
2000-01-06    0.506533
2000-01-07   -1.487409
2000-01-08    0.625521
2000-01-09    0.402739
2000-01-10    0.550547
2000-01-11    1.135383
2000-01-12    0.099674
2000-01-13   -0.131608
2000-01-14    0.134370
2000-01-15   -0.226380
2000-01-16    1.190788
2000-01-17    0.211051
2000-01-18   -0.810756
2000-01-19   -0.075414
2000-01-20   -0.817253
2000-01-21   -1.800206
2000-01-22    0.702377
2000-01-23    0.372534
2000-01-24   -1.266749
2000-01-25    0.510394
2000-01-26   -0.867267
2000-01-27   -0.555311
2000-01-28   -0.004757
2000-01-29   -1.137799
2000-01-30    1.135691
                ...
2002-08-28   -1.009861
2002-08-29    0.826499
2002-08-30    0.899053
2002-08-31    1.058963
2002-09-01    1.699214
2002-09-02    0.357514
2002-09-03   -0.590560
2002-09-04   -1.604447
2002-09-05    1.927142
2002-09-06    0.487641
2002-09-07   -1.007413
2002-09-08   -0.291960
2002-09-09   -0.222089
2002-09-10   -0.065040
2002-09-11    0.112237
2002-09-12    1.038691
2002-09-13    0.078050
2002-09-14   -0.295243
2002-09-15    0.115782
2002-09-16    1.142985
2002-09-17    0.316598
2002-09-18   -0.963956
2002-09-19   -0.640431
2002-09-20    0.436234
2002-09-21    2.415229
2002-09-22    0.687862
2002-09-23    0.750247
2002-09-24    0.516267
2002-09-25   -0.072631
2002-09-26    0.257617
Freq: D, Length: 1000, dtype: float64

In [36]:
longer_ts['2001']

2001-01-01   -0.177713
2001-01-02   -0.797263
2001-01-03    0.394973
2001-01-04   -0.562620
2001-01-05    0.412595
2001-01-06    1.217361
2001-01-07   -0.508189
2001-01-08   -0.456147
2001-01-09    1.152702
2001-01-10    0.244593
2001-01-11    1.111214
2001-01-12    0.783913
2001-01-13   -1.077433
2001-01-14    0.299228
2001-01-15    0.213995
2001-01-16   -1.051550
2001-01-17    1.606320
2001-01-18   -0.234722
2001-01-19   -0.461460
2001-01-20    0.124896
2001-01-21    0.878701
2001-01-22   -1.726089
2001-01-23    0.743159
2001-01-24    0.687308
2001-01-25   -0.922658
2001-01-26    0.523811
2001-01-27   -0.923655
2001-01-28    1.223010
2001-01-29    0.691940
2001-01-30   -1.028157
                ...
2001-12-02    1.780216
2001-12-03    1.172017
2001-12-04    1.567734
2001-12-05   -1.073669
2001-12-06    1.148879
2001-12-07   -2.038184
2001-12-08   -0.141314
2001-12-09   -0.647767
2001-12-10    1.493117
2001-12-11    0.125057
2001-12-12   -0.350613
2001-12-13    2.299676
2001-12-14    0.415652
2001-12-15    0.826278
2001-12-16   -1.322387
2001-12-17   -0.145445
2001-12-18    0.292482
2001-12-19   -0.029976
2001-12-20   -1.085414
2001-12-21    0.371832
2001-12-22   -0.343660
2001-12-23   -0.810756
2001-12-24   -0.116715
2001-12-25    0.936323
2001-12-26    0.022150
2001-12-27    1.188481
2001-12-28    1.483375
2001-12-29   -0.613733
2001-12-30    0.390163
2001-12-31    0.882513
Freq: D, Length: 365, dtype: float64

In [37]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')

In [38]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [39]:
ts

2000-01-01    0.161474
2000-01-02   -1.943573
2000-01-03    2.237049
2000-01-04    0.219893
2000-01-05    0.603738
2000-01-06   -0.436215
2000-01-07   -1.116236
2000-01-08    0.883535
2000-01-09   -0.392750
2000-01-10    0.041385
2000-01-11   -0.947804
2000-01-12   -0.134664
2000-01-13   -0.365673
2000-01-14   -0.114925
2000-01-15    0.751976
2000-01-16   -0.832066
2000-01-17   -0.569673
2000-01-18    0.074215
2000-01-19   -0.237958
2000-01-20    0.660741
2000-01-21    0.574287
2000-01-22   -1.138824
2000-01-23    0.427139
2000-01-24   -1.132702
2000-01-25    0.132346
2000-01-26    0.723271
2000-01-27   -1.353407
2000-01-28    0.096429
2000-01-29    1.486024
2000-01-30   -1.340392
                ...
2000-03-11    0.679860
2000-03-12   -0.329076
2000-03-13   -0.333969
2000-03-14   -0.182531
2000-03-15    1.075154
2000-03-16   -0.204249
2000-03-17    0.613544
2000-03-18    0.386192
2000-03-19    0.796217
2000-03-20    0.412008
2000-03-21    0.308948
2000-03-22   -0.813597
2000-03-23   -1.028589
2000-03-24    0.345082
2000-03-25    1.567107
2000-03-26   -0.661617
2000-03-27   -0.691557
2000-03-28   -1.855522
2000-03-29    1.613772
2000-03-30    0.002177
2000-03-31    0.932605
2000-04-01   -0.461988
2000-04-02    0.186356
2000-04-03   -0.182502
2000-04-04    0.653716
2000-04-05    0.405317
2000-04-06   -1.802883
2000-04-07    0.221045
2000-04-08    0.259886
2000-04-09    1.134011
Freq: D, Length: 100, dtype: float64

In [40]:
ts.resample('M').mean()

2000-01-31   -0.132869
2000-02-29    0.019530
2000-03-31    0.081953
2000-04-30    0.045884
Freq: M, dtype: float64

In [41]:
ts.resample('M', kind='period').mean()

2000-01   -0.132869
2000-02    0.019530
2000-03    0.081953
2000-04    0.045884
Freq: M, dtype: float64

In [42]:
ts.resample('M').mean()

2000-01-31   -0.132869
2000-02-29    0.019530
2000-03-31    0.081953
2000-04-30    0.045884
Freq: M, dtype: float64

In [43]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')

In [44]:
ts = pd.Series(np.arange(12), index=rng)

In [45]:
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int64

In [46]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int64

In [47]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int64